<div class="container" style="text-align:center">
  <div class="row" style="text-align:center" *ngIf="currentBook.length>0" >
    <div class="col-md-12" style="font-size:26px">Books Details</div>
    <br><br>
  </div>
 
    <!--  
        <div class="panel panel-default">
            <div class="panel-heading">{{currentBook.name|uppercase}}</div>
            <div class="panel-body">
              Published by : {{currentBook.publisher}}<br><hr><br>
              Number of Pages :{{currentBook.numberOfPages}}<br><hr><br>
              Country : {{currentBook.country}}<br><hr><br>
              Media Type : {{currentBook.mediaType}}<br><hr><br>
              Characters : 
              <br><br>
              <div class="row" style="overflow-y:scroll;height:150px">
               <div class="col-md-1"  *ngFor="let character of currentBook.characters;"  style="text-align:center; margin-bottom: 10px; margin-left:10px; margin-right:2px;">
                <button routerLink="/characters/{{character.split('/').pop()}}" type="button" class="btn btn-primary"> ID : {{character.split('/').pop()}}</button>
               </div>
              </div><br><hr><br>
              POV Characters :
              <br><br>
              <div class="row" style="overflow-y:scroll;height:150px">
               <div class="col-md-1"  *ngFor="let character1 of currentBook.povCharacters;"  style="text-align:center; margin-bottom: 10px; margin-left:10px; margin-right:2px;">
                <button routerLink="/characters/{{character1.split('/').pop()}}" type="button" class="btn btn-primary"> ID : {{character1.split('/').pop()}}</button>
               </div>
              </div>

            </div><hr>
            <div class="panel-footer">
              Released on {{currentBook.released|date}}<br><br>by {{currentBook.authors}} <br><br>
            </div><br>
            <div class="row" style="text-align:center">
                <div class="col-md-12">
                  <a class="btn btn-primary" (click)="goBackToPreviousPage()">Go Back</a>
                </div>
                <br><br>    
            </div>
        </div>
      -->    
 
        <div class="card h-100" style="border :1px solid rgb(226, 68, 68)">
            <div class="card-body" style="padding:50px">
              Book Name :<br>
              <h2 class="card-title">{{currentBook.name||defaultValue}}</h2><br>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"> Published by : {{currentBook.publisher||defaultValue}}</li>
                <li class="list-group-item">Number of Pages :{{currentBook.numberOfPages||defaultValue}}</li>
                <li class="list-group-item">Media Type : {{currentBook.mediaType||defaultValue}}</li>
              </ul>
              <br>

              Related Characters : 
              <br><br>
              <div class="row" style="overflow-y:scroll;height:150px; padding:20px; border: grey 2px solid">
               <div class="col-md-1"  *ngFor="let character of currentBook.characters;"  style="text-align:center; margin-bottom: 10px; margin-left:10px; margin-right:2px;">
                <button routerLink="/characters/{{character.split('/').pop()}}" type="button" class="btn btn-primary"> ID : {{character.split('/').pop()}}</button>
               </div>
              </div><br><hr><br>
              Related POV Characters :
              <br><br>
              <div class="row" style="overflow-y:scroll;height:150px;  padding:20px; border: grey 2px solid">
               <div class="col-md-1"  *ngFor="let character1 of currentBook.povCharacters;"  style="text-align:center; margin-bottom: 10px; margin-left:10px; margin-right:2px;">
                <button routerLink="/characters/{{character1.split('/').pop()}}" type="button" class="btn btn-primary"> ID : {{character1.split('/').pop()}}</button>
               </div>
              </div>

                <br><br>

              <div class="row" style="text-align:center">
                  <div class="col-md-12">
                    <a class="btn btn-primary" (click)="goBackToPreviousPage()">Go Back</a>
                  </div>
                  <br><br>    
              </div>
      

            </div>
          </div>      

          <go-top-button   [animate]="true"
          [speed]="50"
          [acceleration]="2"
          [scrollDistance]="300"
          [styles]="{
             'border-radius': '20px 20px 20px 20px',
             'right': '5px',
             'color': 'black',
             'border': '5px solid',
             'line-height': '20px'
          }">
          <i class="fa fa-arrow-up"></i>

          </go-top-button>

</div>