<div class="container" style="text-align:center">
    <div class="row" style="text-align:center" *ngIf="currentHouse.length>0">
      <div class="col-md-12" style="font-size:26px">House Details</div>
      <br><br><br>
    </div>
   
          <div class="card h-100" style="border :rgb(7, 92, 7) 2px solid">
            <div class="card-body">
                <br>House Name : 
              <h3 class="card-title">{{currentHouse.name||defaultValue}}</h3>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"> Region : {{currentHouse.region||defaultValue}}</li>
                <li class="list-group-item">Coat of Arms :{{currentHouse.coatOfArms||defaultValue}}</li>
                <li class="list-group-item">Overload House : {{currentHouse.overload||defaultValue}}</li>
              </ul>
              <br>
              <div class="row" style="text-align:center">
                  <div class="col-md-12">
                    <a class="btn btn-primary" (click)="goBackToPreviousPage()">Go Back</a>
                  </div>
                  <br><br>    
              </div>
      

            </div>
          </div>      
  
<br>  

<go-top-button   [animate]="true"
[speed]="50"
[acceleration]="2"
[scrollDistance]="300"
[styles]="{
   'border-radius': '20px 20px 20px 20px',
   'right': '5px',
   'color': 'black',
   'border': '5px solid',
   'line-height': '20px'
}">
<i class="fa fa-arrow-up"></i>

</go-top-button>
  
  </div>
  
  